 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cria um grid de um 3 linhas e 1 coluna */
body{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 1%;
    height: 100vh;
}
/* Inicio do design do primeiro box */
.semana{
    height: 100%;
    width: 90%;
    display: flex;
    background-color: #EDE1F8;
    flex-direction: row;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}

.dias{
    width:10vw;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4%;
    /* text-align: center; */
    border: 1px solid black;
    font-size: 1vw;
}

/* fim do design do primeiro box */


.horarios{
    height: 95%;
    width: 90%;
    overflow-y: scroll;
    display: grid;
    /* grid-template-columns: repeat(8,12%); */
    grid-template: repeat(8,10%)/repeat(8,12%);
    align-self: center;
    background-color: lightblue;
    /* gap: 1%; */
    /* column-gap: ; */
    justify-content: center;
    align-content: center;
    grid-row-start: 5;
    grid-row-end: 10;
}
/* .cabecallho{
    grid-row: span 9;
} */
.horas{
    background-color: darkblue;
    color: white;
}

.week{
    background-color: azure;
}

.hour{
    border: 1px solid black;
}

.diasdasemana{
   width: 100%;
}

.espaco{
    height: 10vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}

.cabecalho{
    display: grid;
    height: 10vh;
    width: 100%;
    grid-template: repeat(3,33%)/repeat(1,90%);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.dia{
    display: grid;
    align-items: center;
    justify-items: center;
    background-color:rgb(173, 228, 230);
    border-radius: 3%;
    border: 1px solid black;
}

.botoes{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 4px;
}