 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cria um grid de um 3 linhas e 1 coluna */
body{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 1%;
    height: 100vh;
}
/* Inicio do design do primeiro box */
.semana{
    height: 100%;
    width: 90%;
    display: flex;
    background-color: #EDE1F8;
    flex-direction: row;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}

.dias{
    width:10vw;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4%;
    /* text-align: center; */
    border: 1px solid black;
    font-size: 1vw;
}

/* fim do design do primeiro box */
.horarios{
    height: 100%;
    width: 90%;
    border: 2px solid black;
    overflow-y: scroll;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(8,13%);
    align-self: center;
    /* gap: 2%; */
    justify-content: start;
    align-content: flex-start;
    grid-row-start: 5;
    grid-row-end: 10;
}
/* .cabecallho{
    grid-row: span 9;
} */
.horas{
    /* display: grid; */
    height: 100vh;
    width: min-content;
    /* grid-template-rows: repeat(24,20%);
    justify-items: start;
    align-items: start;
    grid-column: span 1; */
    border: 1px solid black;
}

.hour{
    border: 1px solid black;
}

.diasdasemana{
   width: 100%;
   /* border: 1px solid black; */
   /* display: grid;
   align-content: flex-start;
   grid-template-rows: repeat(24,20%); */
}

.espaco{
    height: 10vh;
    width: 100%;
    border: 1px solid black;
}

.botoes{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 4px;
}