*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
body{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 25px;
}
}

$bp:(
mobile: 480px,
tablet: 768px,
desktop: 1440px,
);

@mixin query($screen) {
@each $key, $value in $bp{
    @if ($screen == $key){
        @media (max-width: $value){
            @content;
        }
    }
}
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: skyblue;
    height: 10vh;
    align-items: center;
    padding: 0px 10px; // o primeiro valor determina o px no topo e na base
                       // o segundo valor determina o pixel na esquerda e na direita
&__logo{
    font-size: 3rem;
}
&__btn{
    display: none; // apaga o elemento da tela

}
&__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    [class ^="item-"]{
        padding-left: 15px;
    }
}
}

@include query(mobile){
.header{
    &__logo{
    }
    &__btn{
        display: flex;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
    }
}
}


