*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 5vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 5vh;
        width: 80vw;
        list-style: none;    
        li{
            font-family: century;
            font-size: 1.5rem;
            font-weight: bold;
            a{
                text-decoration: none;
                // text-decoration tira o estilo do texto
                color:white;
                padding: 0px 50px;
                transition: all .5s ease-in-out;
            }
            a:hover{
                background-color: white;
                color: black;
                box-shadow: 10px 5px 1px black;

            }
        }
    }
}