*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #a8d1e9a2;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: cursive;
}


.main{
    display: flex;
    height:50vh;
    width: 50vw;
    border: 1px solid black;
    border-radius: 2%;
    background-color: rgba(186, 198, 236, 0.692);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.entrada{
    display:flex;
    width: 80%;
    justify-content: space-evenly;
}


.numero{
    font-size: 2vw;
    width: 20%;
    border-radius: 4px;
}
#simbolo_da_divisao{  
    font-size: 5vw;
}

.btn{
    font-size: 3vw;
    width:20%;
}



/* design da segunda tela */
.main2{
    display: grid;
    height: 70vh;
    width:85vw;
    background-color:  rgba(186, 198, 236, 0.692);
    border: 1px solid black;
    grid-template: 5% 90% 5%/ 100%;
    justify-items: center;
    align-items: center;
}
.grid_principal{
    display: grid;
    background-color: white;
    /* border: 1px solid black; */
    grid-template: repeat(8,12.5%)/repeat(8,12.5%);
    justify-items: end;
    justify-content: center;
}

.celula{
    border:1px solid black;
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 5vh;
}

.resultado_final{
    border: 1px solid black;
    display:flex;
    justify-content: space-evenly;
    width: 60%;
    background-color: aquamarine;
}